In [2]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 7, 14, 16, 0, 32, 15904)

In [4]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [5]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [6]:
#字符串和 datetime 的相互转换字符串和 datetime 的相互转换
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [8]:
stamp.strftime('%y-%m-%d')

'11-01-03'

In [9]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [10]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [12]:
from dateutil.parser import parse
parse('2011-01-03')
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [19]:
import pandas as pd
import numpy as np
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [18]:
idx = pd.to_datetime(datestrs + [None])
idx
idx[2]

NaT

In [21]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), 
 ....: datetime(2011, 1, 7), datetime(2011, 1, 8), 
 ....: datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6),index =dates)  #datatime suoyin hsi index 
ts

2011-01-02    1.362885
2011-01-05   -0.718287
2011-01-07    1.038885
2011-01-08   -0.033643
2011-01-10    0.674747
2011-01-12   -0.349262
dtype: float64

In [23]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [24]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [26]:
ts['1/10/2011']
longer_ts = pd.Series(np.random.randn(1000),  index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01   -0.945919
2000-01-02    1.304486
2000-01-03    0.319526
2000-01-04   -0.400704
2000-01-05    0.553079
2000-01-06   -0.380582
2000-01-07   -0.219417
2000-01-08    1.103846
2000-01-09   -1.121877
2000-01-10    1.296987
2000-01-11    0.192593
2000-01-12    1.961960
2000-01-13   -2.187081
2000-01-14   -1.456580
2000-01-15    0.204749
2000-01-16   -1.073381
2000-01-17    1.115015
2000-01-18   -0.354924
2000-01-19    0.798365
2000-01-20   -0.736410
2000-01-21   -0.020544
2000-01-22   -0.977287
2000-01-23   -0.331420
2000-01-24    0.147042
2000-01-25    1.600796
2000-01-26   -0.650758
2000-01-27   -0.486292
2000-01-28    1.319328
2000-01-29    0.290563
2000-01-30    0.942922
                ...
2002-08-28   -1.339188
2002-08-29    0.916893
2002-08-30    0.083969
2002-08-31    0.094963
2002-09-01    1.194362
2002-09-02   -0.381862
2002-09-03    0.825020
2002-09-04    1.642659
2002-09-05    0.385367
2002-09-06    1.405280
2002-09-07   -0.356316
2002-09-08    0.279291
2002-09-09    0.180147
2002-09-10    1.088723
2002-09-11   -1.323958
2002-09-12    0.041880
2002-09-13   -0.378196
2002-09-14   -0.396360
2002-09-15    1.536397
2002-09-16    0.603137
2002-09-17    1.658364
2002-09-18    0.020970
2002-09-19    0.371609
2002-09-20   -2.081493
2002-09-21    0.866021
2002-09-22    0.192066
2002-09-23   -0.957781
2002-09-24   -0.238244
2002-09-25    1.074830
2002-09-26   -0.168073
Freq: D, Length: 1000, dtype: float64

In [27]:
longer_ts['2001']

2001-01-01    0.326455
2001-01-02    1.604260
2001-01-03   -0.087664
2001-01-04   -0.529663
2001-01-05    0.917171
2001-01-06   -1.622717
2001-01-07   -0.045320
2001-01-08    1.255011
2001-01-09   -0.818830
2001-01-10   -0.556012
2001-01-11    0.628914
2001-01-12   -0.098101
2001-01-13   -0.330663
2001-01-14   -1.254073
2001-01-15    0.560811
2001-01-16   -1.096155
2001-01-17    0.772962
2001-01-18   -1.001799
2001-01-19   -0.514730
2001-01-20    0.548358
2001-01-21    0.269984
2001-01-22    1.073638
2001-01-23   -1.795857
2001-01-24    0.122376
2001-01-25    0.231401
2001-01-26    1.058728
2001-01-27   -0.774677
2001-01-28    0.331361
2001-01-29   -1.018366
2001-01-30   -0.408291
                ...
2001-12-02   -0.706967
2001-12-03    0.490515
2001-12-04    1.243234
2001-12-05    1.711295
2001-12-06   -1.031289
2001-12-07   -1.056228
2001-12-08   -1.267898
2001-12-09    0.757382
2001-12-10   -1.135512
2001-12-11    0.134902
2001-12-12   -0.501194
2001-12-13   -1.405617
2001-12-14    0.345202
2001-12-15   -1.584711
2001-12-16   -0.749222
2001-12-17   -0.885613
2001-12-18    1.099207
2001-12-19   -0.081506
2001-12-20    2.032997
2001-12-21    0.599461
2001-12-22   -0.709268
2001-12-23    1.489516
2001-12-24   -0.639862
2001-12-25   -1.275479
2001-12-26    0.899776
2001-12-27   -0.705899
2001-12-28   -0.402254
2001-12-29    0.345237
2001-12-30   -1.506351
2001-12-31   -0.964348
Freq: D, Length: 365, dtype: float64

In [28]:
ts['1/6/2011':'1/11/2011']

2011-01-07    1.038885
2011-01-08   -0.033643
2011-01-10    0.674747
dtype: float64

In [30]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df

            Colorado     Texas  New York      Ohio
2000-01-05  0.005486 -0.971864 -0.324807 -0.110889
2000-01-12  0.355524 -1.003868 -0.206610  0.239684
2000-01-19  0.600348 -0.792511  1.327166  0.267569
2000-01-26  0.150862 -0.786157 -0.467469 -0.158567
2000-02-02 -0.315096 -0.717096 -1.579993 -0.744799
2000-02-09 -0.583403 -0.934739 -0.058409  0.421566
2000-02-16  1.243727 -0.742809  1.021267  0.875713
2000-02-23 -2.056834 -1.214019 -0.352074 -0.155549
2000-03-01  0.906435 -0.129914  1.669805 -1.155221
2000-03-08  1.168335 -1.678993 -0.277370 -0.281602
2000-03-15 -0.804456 -0.693809 -0.701573  0.433832
2000-03-22  0.387480 -1.058447 -1.215203  0.593623
2000-03-29  1.519621  1.948283 -0.280163  0.319423
2000-04-05 -1.717004  0.003040  1.492235  0.298808
2000-04-12  1.886679 -0.862761 -0.319431 -1.252552
2000-04-19 -1.131581  0.101506 -1.739075 -0.119837
2000-04-26  0.591173 -0.090658  1.082527  0.771809
2000-05-03  0.252084 -0.330533  0.737549 -0.158514
2000-05-10 -1.761884 -0.345124 -1.285465  1.073031
2000-05-17 -0.378632 -0.859157  0.706264 -0.165598
2000-05-24  0.238938 -0.146143  0.095659 -0.652551
2000-05-31  0.371001 -1.472108  1.718052  0.294959
2000-06-07 -1.068603  2.092996 -1.561266 -0.059701
2000-06-14 -0.392587  1.070060 -0.361902 -2.203289
2000-06-21  0.638308  0.073978  0.683776  1.327194
2000-06-28  2.731886 -0.078486 -0.385674  0.971801
2000-07-05 -1.443393  1.811727 -1.155777 -2.346104
2000-07-12  0.346692 -0.667421  0.120531 -0.504533
2000-07-19 -1.097872 -0.040700  1.625401 -2.766913
2000-07-26 -0.254219 -0.891440  0.551991  1.376366
...              ...       ...       ...       ...
2001-05-09 -0.138032  0.651940 -0.012313 -0.061365
2001-05-16 -1.119869 -0.727232  0.184476 -0.730015
2001-05-23 -0.610563  0.147634  1.470116 -1.097279
2001-05-30 -0.696111  0.385924  0.943644 -1.009215
2001-06-06 -0.301116 -0.241538 -0.309339  0.012140
2001-06-13  0.336945 -0.864776  0.359006  2.269976
2001-06-20 -0.698617 -1.156427  1.577115 -0.882128
2001-06-27 -0.894614  0.619523  1.298548  0.125089
2001-07-04  0.087531 -0.558683  0.532735 -0.164206
2001-07-11  0.781966 -0.840956  0.028213  2.190945
2001-07-18  0.663392  0.278805  0.083793  0.353098
2001-07-25  1.317305  0.701436 -2.463298 -3.080332
2001-08-01  0.626527 -0.402810  1.280223 -0.700885
2001-08-08 -0.148555  0.459141 -0.529144  1.507611
2001-08-15  1.174720  1.958296 -0.752570  0.562530
2001-08-22  0.229521  0.292102  0.725780  1.388096
2001-08-29  0.111605  0.209045 -0.284884  0.144604
2001-09-05 -0.307888 -1.030598 -0.141410  2.044708
2001-09-12  1.900976 -1.482800  0.977201  0.415990
2001-09-19  0.315530 -0.835847 -2.001662 -0.317421
2001-09-26 -0.326102  0.338472 -1.864757 -0.775050
2001-10-03 -0.431392 -1.772565  0.355081 -0.041030
2001-10-10  2.007817 -0.457928 -0.360356  1.178218
2001-10-17  0.492301 -0.488363  1.293159 -0.231111
2001-10-24 -1.845749  0.732090 -1.565674 -0.518850
2001-10-31 -0.634346  1.077021 -0.813613  0.888791
2001-11-07 -1.428661  0.781614 -0.208281  0.181366
2001-11-14  0.699463  1.190560 -1.601993 -1.965164
2001-11-21  0.166779 -0.144540  0.018079 -0.395903
2001-11-28 -0.921843  0.145649  0.571846 -0.559431

[100 rows x 4 columns]

In [32]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [33]:
dup_ts.index.is_unique

False

In [34]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [36]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [37]:
ts

2011-01-02    1.362885
2011-01-05   -0.718287
2011-01-07    1.038885
2011-01-08   -0.033643
2011-01-10    0.674747
2011-01-12   -0.349262
dtype: float64

In [39]:
resampler = ts.resample('D')
resampler

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [40]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [42]:
from pandas.tseries.offsets import Hour, Minute
four_hours = Hour(4)
four_hours

In [43]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [45]:
mg = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(mg)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [56]:
from pandas.tseries.offsets import Day, MonthEnd
now =datetime(2011,10,8)
now + MonthEnd(2)
now + MonthEnd()
now

datetime.datetime(2011, 10, 8, 0, 0)

In [59]:
p = pd.Period(2007, freq='A-DEC')
p+5

Period('2012', 'A-DEC')

In [60]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [61]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2000-01-01    1.097341
2000-01-02   -0.558936
2000-01-03   -1.306130
2000-01-04    0.298661
2000-01-05   -0.212282
2000-01-06   -1.024356
2000-01-07    1.487397
2000-01-08   -0.141864
2000-01-09    0.459009
2000-01-10   -0.289754
2000-01-11   -1.940646
2000-01-12   -1.713031
2000-01-13   -1.508587
2000-01-14   -0.448122
2000-01-15    0.753640
2000-01-16    1.518618
2000-01-17    2.433436
2000-01-18   -0.055915
2000-01-19    0.672291
2000-01-20    0.572951
2000-01-21   -0.330970
2000-01-22   -1.785805
2000-01-23   -1.748965
2000-01-24   -1.628181
2000-01-25   -1.282825
2000-01-26   -0.877722
2000-01-27   -0.155449
2000-01-28    1.025589
2000-01-29   -0.345047
2000-01-30   -0.171672
                ...
2000-03-11    1.137711
2000-03-12    0.203313
2000-03-13    0.419114
2000-03-14   -0.843034
2000-03-15   -2.042647
2000-03-16    0.394725
2000-03-17   -0.143013
2000-03-18    0.730052
2000-03-19   -0.711171
2000-03-20   -2.038251
2000-03-21   -0.254742
2000-03-22    0.251005
2000-03-23    2.343385
2000-03-24    0.030729
2000-03-25    1.022369
2000-03-26   -0.154422
2000-03-27    1.151070
2000-03-28    0.400527
2000-03-29    0.666530
2000-03-30    0.685643
2000-03-31   -0.948623
2000-04-01    0.455365
2000-04-02   -1.115590
2000-04-03   -0.591036
2000-04-04    0.789557
2000-04-05   -0.079313
2000-04-06   -1.337572
2000-04-07   -1.364730
2000-04-08   -1.245202
2000-04-09   -1.918598
Freq: D, Length: 100, dtype: float64

In [62]:
ts.resample('M').mean() #重采样为 M

2000-01-31   -0.238144
2000-02-29    0.099296
2000-03-31    0.200737
2000-04-30   -0.711902
Freq: M, dtype: float64

In [63]:
ts.resample('M', kind='period').mean()

2000-01   -0.238144
2000-02    0.099296
2000-03    0.200737
2000-04   -0.711902
Freq: M, dtype: float64

In [66]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts= pd.Series(np.arange(12),index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [67]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [68]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32